/*
 * Time : TIME_STR
 * URL  : URL_STR
 */
#ifndef DEF_STR
#define DEF_STR

#include <string>
#include <vector>
#include <deque>
#include <set>
#include <map>

class CLASS_NAME {
    public:
        CLASS_NAME() = default;
        virtual ~CLASS_NAME() = default;
        FUNC_RET_TYPE CLASS_FUNC;
};

#endif // DEF_STR