/*
 * Time : TIME_STR
 * URL  : URL_STR
 */

#include <cstdint>
#include <cmath>
#include <algorithm>
#include <vector>
#include <set>
#include <map>
#include "HEAD_FILE_NAME"

using namespace std;

FUNC_RET_TYPE CLASS_NAME::CLASS_FUNC
{
    return 0;
}

