/*
 * Time : TIME_STR
 * URL  : URL_STR
 */
#include <vector>
#include "gtest/gtest.h"
#include "HEAD_FILE_NAME"

using namespace std;

class TEST_CLASSNAME : public testing::Test {
    protected:
        static void SetUpTestSuite() {}
        static void TearDownTestSuite() {}
        void SetUp() override;
        void TearDown() override;

        vector<CLASS_NAME *> m_testList;
        void RunTest(FUNC_PARAM, FUNC_RET_TYPE expect);
};

void TEST_CLASSNAME::SetUp()
{
    m_testList.push_back(new CLASS_NAME());
}

void TEST_CLASSNAME::TearDown()
{
    for (CLASS_NAME *inst : m_testList) {
        delete inst;
    }
}

void TEST_CLASSNAME::RunTest(FUNC_PARAM, FUNC_RET_TYPE expect)
{
    for (CLASS_NAME *inst : m_testList) {
        EXPECT_EQ(expect, inst->CLASS_FUNC(PARAM_NAMES));
    }
}

TEST_F(TEST_CLASSNAME, case1)
{
    FUNC_PARAM;
    FUNC_RET_TYPE expect = 0;
    RunTest(PARAM_NAMES, expect);
}

