/*
 * Time : TIME_STR
 * URL  : URL_STR
 */
#include <cstdint>
#include <cstdio>
#include <cmath>
#include <algorithm>
#include <string>
#include <vector>
#include <queue>
#include <deque>
#include <set>
#include <stack>
#include <unordered_set>
#include <map>
#include <unordered_map>
#include <functional>
#include "HEAD_FILE_NAME"

using namespace std;

FUNC_RET_TYPE CLASS_NAME::CLASS_FUNC(FUNC_PARAM)
{
    return 0;
}

